<h1>Sign up</h1>

<div class="form-container">
  <div class="form-box">
    <%= form_with(model: resource, as: resource_name, url: registration_path(resource_name), local: true) do |f| %>
      <div class="field">
        <%= f.label :name %>
        <%= f.text_field :name, autofocus: true %>
      </div>

      <div class="field">
        <%= f.label :email %>
        <%= f.email_field :email %>
      </div>

      <div class="field">
        <%= f.label :password %>
        <%= f.password_field :password %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation %>
      </div>

      <div class="actions">
        <%= f.submit "Sign up", class: "btn btn-primary" %>
      </div>
    <% end %>

    <div class="extra-links">
      <%= link_to "Already have an account?", new_user_session_path, class: "btn btn-link" %>
    </div>
  </div>
</div>
